<div class="page">
    <div class="hd">
        <h1 class="page_title">Toast</h1>
    </div>
    <div class="bd spacing">
        <a href="javascript:;" class="weui_btn weui_btn_primary" ng-click="showToast(0)">点击弹出Toast success</a>
        <a href="javascript:;" class="weui_btn weui_btn_primary" ng-click="showToast(1)">点击弹出Toast info</a>
        <a href="javascript:;" class="weui_btn weui_btn_primary" ng-click="showToast(2)">点击弹出Toast error</a>
        <a href="javascript:;" class="weui_btn weui_btn_primary" ng-click="showLoadingToast()">点击弹出Loading Toast</a>
    </div>
</div>
